
/* Header styles */
.header-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px; /* Adjust padding as needed */
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Logo container styles */
.logo-cafe {
    display: flex;
    align-items: center;
}

.logo-text {
    font-size:40px; 
    font-family: 'Anton', sans-serif;
    color: #333;
    margin: 0 5px;

}

/* Login info styles */
.login-info {
    display: flex;
    align-items: center;
}

.login-info img {
    margin-right: 0px;
    width:30px;
}

.employee-name {
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    color: #333;
}