/* Contenedor de la tabla */
.table-container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

/* Estilos para la tabla */
#carrito {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  background-color: #ffffff; /* Color de fondo de la tabla */
}

#carrito thead {
  background-color: #57d43e; /* Color de fondo del encabezado */
  color: #ffffff; /* Color de texto del encabezado */
}

#carrito th, #carrito td {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: center;
}

#carrito th {
  text-transform: uppercase;
  font-size: 14px;
}

#carrito tbody tr:nth-child(even) {
  background-color: #f2f2f2; /* Color de fondo de filas pares */
}

#carrito tbody tr:hover {
  background-color: #f1f1f1; /* Color de fondo al pasar el mouse */
}

/* Estilos para los botones */
#boton-pagar {
  padding: 8px 16px;
  margin: 10px 0;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  background-color: #47d634; /* Color azul */
  color: #fff;
}

#boton-pagar:hover {
  background-color: #24be24; /* Color azul más oscuro al hacer hover */
}

#boton-pagar:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}
