<!-- {% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Título de tu página</title>

  <!-- Enlace a Chart.js desde un CDN -->
 

  <!-- Aquí puedes incluir tus otras etiquetas de encabezado, como enlaces a estilos CSS, etc. -->
</head>

<body>
  
  <!-- Contenido de tu página -->
  <div class="contenedor">
    <div class="izquierda">
      {% include 'global/nav.html' %}
      <div class="derecha">
        {% include 'global/logo-header.html' %}

        <h1>Ventas Mensuales</h1>
        <canvas id="myChart"></canvas>
      </div>
    </div>
  </div>

  <!-- Tu script de Chart.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
  <script>
    $(document).ready(function () {
      const ctx = document.getElementById('myChart');

      new Chart(ctx, {
        type: 'bar',
        data: {
          labels: {{ labels|safe }},
          datasets: [{
            label: 'Monto de Ventas',
            data: {{ datos|safe }},
            borderWidth: 1
          }]
        },
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      });
    });
  </script>

  <!-- Otros scripts y enlaces a archivos JS -->
  <script src="{% static 'js/nav.js' %}"></script>
  <script src="{% static 'js/finanzas.js' %}"></script>
</body>

</html> -->
