{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style-pedido.css' %}" />
    <title>Listado de Pedidos</title>
</head>
<body>
    <h1>Listado de Pedidos</h1>
    <table>
        <thead>
            <tr>
                <th>Número</th>
                <th>Nombre Cliente</th>
                <th>Correo Cliente</th>
                <th>Estado</th>
                <th>Detalles</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for pedido in pedidos %}
            <tr>
                <td>{{ pedido.numero }}</td>
                <td>{{ pedido.nombre_cliente }}</td>
                <td>{{ pedido.correo_cliente }}</td>
                <td>{{ pedido.estado }}</td>
                <td>{{ pedido.detalles }}</td>
               
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
